body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.schedule {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.weekend-gap {
  width: 200px;
  margin: 2rem auto 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #f3f3f3;
  border-radius: 2rem;
}

.weekend-gap + .weekend-gap {
  display: none;
}
