.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 2rem;
}
.page-header h1 {
  font-size: 24px;
}
.header-buttons {
  display: flex;
  align-items: center;
}
