.view-client {
  margin-bottom: 3rem;
}

.client-card {
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  margin-bottom: 2rem;
}

.client-card p {
  font-weight: 500;
  margin: 0 1rem 0 0;
}

.info-line {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #ccc;
}

.info-line:last-of-type {
  border-right: none;
}

.table-title {
  font-size: 24px;
}

.tabs {
  display: flex;
  margin-bottom: 2rem;
}

.tab {
  margin-right: 1rem;
  padding-bottom: 5px;
  color: #262626;
  cursor: pointer;
}

.tab.active {
  border-bottom: 1px solid #262626;
}

.tabs-content {
  width: 100%;
}

.content {
  display: none;
}

.content.active {
  display: block;
}
