.schedule-container table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.schedule-container td {
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  position: relative;
}
.schedule-container tr td:last-of-type {
  overflow: hidden;
}

.schedule-container tr:first-of-type td {
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  cursor: pointer;
  position: relative;
}

.schedule-container th {
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.schedule-container .first_cell_in_row:hover {
  background-color: transparent;
}

.schedule-container .first_cell_in_row {
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  min-width: 180px;
}

.schedule-container td:hover {
  background-color: #e6e6e6;
}

.schedule-container th:last-of-type {
  border: none;
}

.schedule-container td:last-of-type {
  border-right: 1px solid #e6e6e6;
}

.schedule-container th {
  transform: translateX(-50%);
}

.schedule-container {
  width: 100%;
  margin-bottom: 2rem;
}

.schedule-header {
  padding-bottom: 10px;
}

.date-container {
  transform: translateX(-20%) !important;
  text-decoration: underline;
}

tr:first-child td:first-child {
  border-top-left-radius: 4px;
}
tr:first-child td:last-child {
  border-top-right-radius: 4px;
  overflow: hidden;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
