.reports-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-auto-rows: min-content;
  column-gap: 1.33%;
}

.report {
  width: 100%;
  height: 150px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 2px;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* .report a {
  text-decoration: none;
  color: #000;
  text-align: center;
} */

.reports-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
