.appointment_modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 85%;
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.modal_title {
  padding: 0;
  margin: 0;
}

.close_modal {
  cursor: pointer;
}

.modal_body {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
}

.appointment_modal_container .input_fields {
  padding-top: 1rem;
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
  row-gap: 3%;
  height: 55%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.appointment_modal_container .modal_hours {
  height: 45%;
  width: 100%;
}

.appointment_modal_container .hours_container {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  overflow: hidden;
}

.appointment_modal_container .hours_content {
  padding: 1rem !important;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-auto-rows: min-content;
  column-gap: 2%;
  row-gap: 3%;
  /* overflow-y: scroll; */
}

.modal_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

.rmdp-icon {
  width: 40px !important;
  height: 40px !important;
}

.MuiBox-root {
  height: 100% !important;
  padding: 0 !important;
  overflow-y: auto;
  max-height: 200px !important;
}
