.card {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  /* background-color: #e0e0e0; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 4px;
}
