.main-navigation-logo {
  height: 60px;
}

a .main-navigation-logo {
  top: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation-header-nav {
  display: none;
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.9rem;
  height: 2.9rem;
  background-color: #fb8b35;
  border-radius: 0.5rem;
  cursor: pointer;
}

.main-navigation-drawer {
  height: 100%;
}

.nav-button .line {
  background-color: #12232e;
  height: 0.4rem;
  width: 2rem;
  margin: 0.15rem 0;
  border-radius: 0.3rem;
}

@media (min-width: 768px) {
  .main-navigation-header-nav {
    display: block;
  }

  .nav-button {
    display: none;
  }

  a .main-navigation-logo {
    color: #fff;
    text-decoration: none;
    padding: 0;
    margin: 0 2rem 0 0;
    position: static;
    transform: translateX(0);
  }
}
