.main-header {
  width: 90%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  z-index: 5;
}

.header-children {
  display: flex;
}

.profile-container {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  background-color: #fff;
  top: 1.8rem;
  right: 0;
  width: max-content;
  padding: 0;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  list-style-type: none;
  border-radius: 5px;
  z-index: 20;
}

.profile-dropdown li {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.main-header-wrapper {
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;
  background: #fff;
  justify-content: center;
  z-index: 9;
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
  }
}
