.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.nav-links li {
  margin: 1rem;
  transition: all 0.1s ease-in-out;
}

.nav-links .dropdown-div li {
  margin: 10px;
  width: 100%;
}

.nav-links a {
  border: 1px solid transparent;
  color: #262626;

  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.nav-links li:hover,
.nav-links li:active,
.nav-links li.active {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links li:last-of-type {
    margin-right: 0;
  }

  .nav-links a {
    color: #262626;
    text-decoration: none;
    border-radius: 5px;
  }
}
