.view_user_modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  width: 30%;
  height: 70%;
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.view_user_modal_container .header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.modal_title {
  padding: 0;
  margin: 0;
}

.close_modal {
  cursor: pointer;
}

.modal_body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.view_user_modal_container .input_fields {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  min-height: 0;
  width: 100%;
}

.view_user_modal_container .input_fields div {
  margin-bottom: 1rem;
}
